<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dmytros.servicelocatorfordi">

    <application
        android:name=".DebugApplication"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name" />
</manifest>
